# Basic Python Programming
Description: This script is going to show you hot wot learn python form the beginning.
<br> Author : inad
<br> Date   : 30 Sept 2019
<br> Source : [mbah Google](https://www.google.com)

* * *

* Session 1 : Introduction
    * Arithmatics
    * Method
    * Variables
    * Function
    * Loop
* Session 2 : Pandas and Numpy
    * Pandas
    * Numpy
* Session 3 : Data cleansing
    * Drop Duplicates 
    * Adding Missing Data

In [9]:
print("Hello")
print(2+5)
print(6+7)

Hello
7
13

In [13]:
name = "hello world"
#print(name)
print(type(name))

<class 'str'>

In [23]:
animals  = ['cat','dog','monkey']
for animal in animals:
    print(animal)
#    nums = [0,1,2,3,4]
#    nums = [0,1,3]
    #squares = [x**2 for x in nums]
    #print(squares)
#    print(animal)

cat
dog
monkey

In [26]:
import numpy as np
Data = [["Bob",160],["Charlie",150],["Brian",140.5]]
height_list = [row[1] for row in Data]

print(type(height_list))
height_array = np.array(height_list)

print(height_array)
print(type(height_array))

<class 'list'>
[160.  150.  140.5]
<class 'numpy.ndarray'>

In [30]:
import numpy as np
import pandas as pd

imdb = pd.read_csv('IMDB-database-update.csv', encoding='latin1')

In [31]:
imdb.shape

(3781, 36)

In [32]:
imdb.dtypes

movie_ID                       int64
movie_title                   object
duration                       int64
color                          int64
title_year                     int64
country                       object
language                      object
content_rating                object
budget_USD                     int64
gross_USD                      int64
net_USD                        int64
profitable                     int64
director_name                 object
director_top20?               object
director_facebook?             int64
director_facebook_likes        int64
actor_1_name                  object
actor_top20?                   int64
actor_1_facebook?              int64
actor_1_facebook_likes         int64
actor_2_name                  object
actor_top20?.1                 int64
actor_2_facebook?              int64
actor_2_facebook_likes         int64
actor_3_name                  object
actor_top20?.2                 int64
actor_3_facebook?              int64
actor_3_facebook_likes         int64
cast_total_facebook_likes      int64
movie_facebook?                int64
movie_facebook_likes;          int64
facenumber_in_poster           int64
num_voted_users                int64
num_user_for_reviews           int64
imdb_score                   float64
imdb_top_250                   int64
dtype: object

In [34]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3781 entries, 0 to 3780
Data columns (total 36 columns):
movie_ID                     3781 non-null int64
movie_title                  3781 non-null object
duration                     3781 non-null int64
color                        3781 non-null int64
title_year                   3781 non-null int64
country                      3781 non-null object
language                     3781 non-null object
content_rating               3781 non-null object
budget_USD                   3781 non-null int64
gross_USD                    3781 non-null int64
net_USD                      3781 non-null int64
profitable                   3781 non-null int64
director_name                3781 non-null object
director_top20?              3781 non-null object
director_facebook?           3781 non-null int64
director_facebook_likes      3781 non-null int64
actor_1_name                 3781 non-null object
actor_top20?                 3781 non-null int64
actor_1_facebook?            3781 non-null int64
actor_1_facebook_likes       3781 non-null int64
actor_2_name                 3781 non-null object
actor_top20?.1               3781 non-null int64
actor_2_facebook?            3781 non-null int64
actor_2_facebook_likes       3781 non-null int64
actor_3_name                 3781 non-null object
actor_top20?.2               3781 non-null int64
actor_3_facebook?            3781 non-null int64
actor_3_facebook_likes       3781 non-null int64
cast_total_facebook_likes    3781 non-null int64
movie_facebook?              3781 non-null int64
movie_facebook_likes;        3781 non-null int64
facenumber_in_poster         3781 non-null int64
num_voted_users              3781 non-null int64
num_user_for_reviews         3781 non-null int64
imdb_score                   3781 non-null float64
imdb_top_250                 3781 non-null int64
dtypes: float64(1), int64(26), object(9)
memory usage: 1.0+ MB

In [35]:
imdb.head(5)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0

In [36]:
#melihat jumlah dalam kolom yang null
imdb.isnull().sum()

movie_ID                     0
movie_title                  0
duration                     0
color                        0
title_year                   0
country                      0
language                     0
content_rating               0
budget_USD                   0
gross_USD                    0
net_USD                      0
profitable                   0
director_name                0
director_top20?              0
director_facebook?           0
director_facebook_likes      0
actor_1_name                 0
actor_top20?                 0
actor_1_facebook?            0
actor_1_facebook_likes       0
actor_2_name                 0
actor_top20?.1               0
actor_2_facebook?            0
actor_2_facebook_likes       0
actor_3_name                 0
actor_top20?.2               0
actor_3_facebook?            0
actor_3_facebook_likes       0
cast_total_facebook_likes    0
movie_facebook?              0
movie_facebook_likes;        0
facenumber_in_poster         0
num_voted_users              0
num_user_for_reviews         0
imdb_score                   0
imdb_top_250                 0
dtype: int64

In [39]:
imdb[["movie_facebook?"]] = imdb[["movie_facebook?"]].astype('str')

In [40]:
imdb[["duration","gross_USD"]].describe()

          duration     gross_USD
count  3781.000000  3.781000e+03
mean    109.950278  5.182002e+07
std      22.299267  7.003776e+07
min      37.000000  1.620000e+02
25%      95.000000  7.605668e+06
50%     106.000000  2.896520e+07
75%     120.000000  6.600997e+07
max     325.000000  7.605058e+08

In [43]:
imdb["language"].value_counts()

English       3628
French          33
Spanish         23
Mandarin        14
German          10
Japanese        10
Cantonese        7
Hindi            5
Portuguese       5
Italian          5
Norwegian        4
Korean           4
Thai             3
Danish           3
Dutch            3
Persian          3
Indonesian       2
Aboriginal       2
Hebrew           2
Dari             2
Czech            1
Mongolian        1
Zulu             1
Bosnian          1
Russian          1
Vietnamese       1
Kazakh           1
Maya             1
Aramaic          1
None             1
Arabic           1
Hungarian        1
Filipino         1
Name: language, dtype: int64

In [42]:
imdb["content_rating"].value_counts()

R            1715
PG-13        1311
PG            568
G              88
Not Rated      39
Unrated        24
Approved       14
X              10
NC-17           6
Passed          3
M               2
GP              1
Name: content_rating, dtype: int64

In [44]:
imdb['score_group']=np.where(imdb['imdb_score']>7.5,'high','low')

In [46]:
imdb['score_group'].value_counts()

low     3247
high     534
Name: score_group, dtype: int64

In [50]:
a=['imdb_score']>7.5

TypeError: '>' not supported between instances of 'list' and 'float'